{% extends "layout/basic.html" %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}

<h2>Login</h2>

{% if user.is_authenticated %}
  <p>You already entered</p>

{% else %}
<div class="container">
  <form method="post">
    {% csrf_token %}


    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
      </div>
    {% endfor %}

    <div class="form-group">
      <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span> Log in
      </button>
      <a href="{% url 'main:index' %}" class="btn btn-default">Cancel</a>
    </div>
  </form>
</div>

{% endif %}

{% endblock %}